.auth-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    background-color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 0px rgba(0, 0, 0);
}

.auth-form {
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin: 24px;
}

.auth-form label {
    font-size: 14px;
}

.auth-form input {
    font-size: 13px;
    width: 250px;
}

.auth-form input:-webkit-autofill, .auth-form input:-webkit-autofill:hover, .auth-form input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.auth-form input:focus {
    outline: none;
}

.input-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    max-width: fit-content;
}

.input-bar img {
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.submit-btn {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 4px 0px;
    font-size: 13px;
    cursor: pointer;
}

.signout-btn {
    position: fixed;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    padding: 4px 24px;
    font-size: 13px;
    box-shadow: 2px 2px 0px rgb(0, 0, 0);
}