/* form */
.auth-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    background-color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 0px rgba(0, 0, 0);
}

.auth-form {
    display: flex;
    flex-direction: column;
    margin: 24px;
}

.auth-form label {
    font-size: 14px;
}

.auth-form input {
    font-size: 13px;
    width: 250px;
}

.auth-form input:-webkit-autofill, .auth-form input:-webkit-autofill:hover, .auth-form input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.auth-form input:focus {
    outline: none;
}

.input-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: fit-content;
    gap: 4px;
}

.input-bar img {
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.submit-button {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 4px 0px;
    font-size: 13px;
    cursor: pointer;
}

/* user top navbar */
.user-top-navbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0px 20px;
    gap: 12px;
}

.user-top-navbar-button {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.user-top-navbar-button:hover {
    color: black;
}

.user-top-navbar-button-clicked {
    font-size: 13px;
    color: black;
    cursor: pointer;
}

/* user left navbar */
.left-navbar {
    position: fixed;
    top: 80px;
    left: 0;
    height: min-content;
    width: 120px;
    padding: 0px 20px;
}

.left-tool-bar {
    height: 60%;
    background-color: white;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.tool {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.selected-tool {
    background-color: rgba(0, 0, 0, 0.144);
}

/* user bottom navbar */
.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 1060px;
    padding: 0px 20px 0px 120px;
}

.bottom-tool-bar {
    height: 50px;
    background-color: white;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

/* user right navbar */
.right-navbar {
    position: fixed;
    bottom: 10px;
    right: 6px;
    height: 86vh;
    width: 298px;
    padding: 12px 6px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* admin left navbar */
.admin-left-navbar {
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width: 340px;
}

.admin-left-navbar-div {
    margin: 20px 40px 0px 20px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 0px rgba(0, 0, 0);
}

.admin-left-navbar-button {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 13px;
    font-weight: 700;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 6px;
}

.admin-left-navbar-button:last-child {
    margin-bottom: 0px;
}

.not-selected:hover {
    background-color: rgba(0, 0, 0, 0.048);
}

.selected {
    color: white;
    background-color: black;
}

/* content */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-content {
    margin-top: 80px;
    margin-right: 40px;
    margin-left: 340px;
}

/* background */
.alert-modal-background, .confirm-modal-background {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #00000010;
}

.confirm-modal-background {
    background-color: #00000070;
    align-items: center;
}

.dropdown-content-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    background-color: #00000010;
}

.view-history-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #ccc;
}

/* modal */
.alert-modal {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    height: fit-content;
    margin-top: 32px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.confirm-modal {
    border: 1px solid black;
    background-color: white;
    height: fit-content;
    width: 300px;
}

.view-history-modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-top: 30px;
}

/* color palette */
.color-palette-button-div-active {
    color: black;
    background-color: rgba(0, 0, 0, 0.144);
    border-bottom: 2px solid black;
}

.color-palette-button-div-active button {
    color: black;
    font-weight: 700;
}

.color-palette-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 9px; 
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.color-palette-item {
    background-color: white;
    height: 114px;
    width: 226px;
}

/* template */
.template-item {
    background-color: white;
    padding: 12px;
    width: 100%;
    border: 1px solid #aaaaaa;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.315);
}

/* dropdown */
.dropdown-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    width: 170px;
    border: 1px solid black;
    background-color: white;
    height: min-content;
}

.dropdown-content-button {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 13px;
    font-weight: 700;
    padding: 3px 12px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.dropdown-content-button:last-child {
    border-bottom: none;
}

.dropdown-content-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-clicked {
    color: black;
}

/* cursor */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}

/* chip tag */
.chip, .chip-active {
    padding: 2px 6px;
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;    
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.chip-active {
    border: 1px solid black;
    background-color: black;
    color: white;
}

/* scroll menu*/
.scroll-menu {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.left-scroll-arrow, .right-scroll-arrow {
    opacity: 0;
    cursor: pointer;
}

.left-scroll-arrow-show, .right-scroll-arrow-show {
    opacity: 1;
    cursor: pointer;
}

/* buttons */
/* add color button */
.add-color-button {
    display: flex;
    align-items: center;
    height: min-content;
    padding: 0px 7px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 2px 2px 0px rgb(0, 0, 0);
    cursor: pointer;
    font-size: 14px;
}

/* confirm button */
.confirm-button {
    border: 1px solid black;
    background-color: white;
    width: 100px;
    padding: 4px 0px;
    font-size: 13px;
    cursor: pointer;
    box-shadow: 2px 2px 0px rgb(0, 0, 0);
}

/* edit delete button */
.edit-delete-button {
    padding: 4px 6px;
    cursor: pointer;
}

.edit-delete-button:hover {
    background-color: rgba(0, 0, 0, 0.048);
}

/* up scroll button */
.up-scroll-button {
    position: fixed;
    opacity: 0;
    transition: opacity 0.2s ease;
} 

.up-scroll-button-show {
    position: fixed;
    background-color: black;
    padding: 8px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}

/* action button */
.action-button {
    border: 1px solid black;
    background-color: white;
    padding: 3px 18px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 2px 2px 0px rgb(0, 0, 0);
}

.action-button:hover {
    transform: scale(1.01);
}