.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    background-color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 0px rgba(0, 0, 0);
}

.auth-form {
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin: 24px;
}

.auth-form label {
    font-size: 14px;
}

.auth-form input {
    font-size: 13px;
    width: 250px;
}

.auth-form input:-webkit-autofill, .auth-form input:-webkit-autofill:hover, .auth-form input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.auth-form input:focus {
    outline: none;
}

.input-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: fit-content;
    gap: 4px;
}

.input-bar img {
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.submit-btn {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 4px 0px;
    font-size: 13px;
    cursor: pointer;
}

.signout-btn {
    position: fixed;
    top: 24px;
    right: 24px;
    border: 1px solid black;
    background-color: white;
    width: 100px;
    padding: 4px 0px;
    font-size: 13px;
    cursor: pointer;
    box-shadow: 2px 2px 0px rgb(0, 0, 0);
}

.alert-modal-background, .confirm-modal-background {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #00000033;
}

.alert-modal {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    height: fit-content;
    margin-top: 32px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.confirm-modal-background {
    align-items: center;
}

.confirm-modal {
    border: 1px solid black;
    background-color: white;
    height: fit-content;
    width: 300px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.confirm-btn {
    border: 1px solid black;
    background-color: white;
    width: 100px;
    padding: 4px 0px;
    font-size: 13px;
    cursor: pointer;
    box-shadow: 2px 2px 0px rgb(0, 0, 0);
}

.add-color-btn {
    display: flex;
    align-items: center;
    height: min-content;
    padding: 0px 7px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 2px 2px 0px rgb(0, 0, 0);
    cursor: pointer;
}

.color-palette {
    background-color: white;
    height: 400px;
    width: 226px;
}

.color-palette-item {
    background-color: white;
    height: 114px;
    width: 226px;
}