@import "tailwindcss";

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #ececec;
  background-image: linear-gradient(to right, #bebebe 1px, transparent 1px), linear-gradient(to bottom, #bebebe 1px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
}